/* .my-modal {
  width: 90vw !important;
  max-width: 90vw !important;
  height: 90vh !important;
  max-height: 90vw !important;
}

.input {
  width: 100% !important;
  max-width: 500px !important;
  min-width: 300px !important;
}
input[type="file"] {
  display: none !important;
} */
